section#banner
    main
        #banner-image
        #banner-title-1.banner-title.banner-title-anim
            h4 Mir&euml;serdh&euml;t n&euml;
            h1 Shkoll&euml;n e Mesme Profesionale p&euml;r &quot;Hermann Gmeiner&quot;
            a.banner-title-link(href='#who-are-we-section')
                p Lexo m&euml; shum&euml;
                span.fa.fa-arrow-right
            .banner-indicatior-holder
                i#banner-indicator-1.banner-indicatior.banner-indicatior-anim(onclick='changeHomePhotoByClick(1)')
                i#banner-indicator-2.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(2)')
                i#banner-indicator-3.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(3)')
        #banner-title-2.banner-title
            h4 Zgjidhni AFP
            h1 B&euml;huni pjes&euml; e shkoll&euml;s profesionale m&euml; t&euml; mir&euml; n&euml; vend
            a.banner-title-link(href='#who-are-we-section')
                p Lexo m&euml; shum&euml;
                span.fa.fa-arrow-right
            .banner-indicatior-holder
                i#banner-indicator-4.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(1)')
                i#banner-indicator-5.banner-indicatior(onclick='changeHomePhotoByClick(2)')
                i#banner-indicator-6.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(3)')
        #banner-title-3.banner-title
            h4 Lider&euml;t e s&euml; ardhmes
            h1 Nga shkolla jon&euml; diplomohen m&euml; t&euml; mir&euml;t
            a.banner-title-link(href='#who-are-we-section')
                p Lexo m&euml; shum&euml;
                span.fa.fa-arrow-right
            .banner-indicatior-holder
                i#banner-indicator-7.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(1)')
                i#banner-indicator-8.banner-indicatior.banner-indicatior-passive(onclick='changeHomePhotoByClick(2)')
                i#banner-indicator-9.banner-indicatior(onclick='changeHomePhotoByClick(3)')