section#contact-section.section
  main
    #contact-info-image
      #contact-info-holder
        h1 Na kontaktoni
        p Mos hezitoni t&euml; na kontaktoni!
        a(href='/kontakt')
          p#contact-info-link Kontakte
