footer.footer.section
  .footer-container.container.d-grid
    .company-data
      a(href='/home')
        h2#logo_footer Hermann Gmeiner
      p.company-description Shkolla e Mesme Profesionale p&euml;r TIK &quot;Hermann Gmeiner&quot;.
      p Adresa: Rruga Hermann Gmeiner, pran&euml; Fshatit SOS, Tiran&euml;
      ul.list.social-media
        li.list-item
          a(href='https://www.instagram.com/shkolla_hermann_gmeiner/')
            i.ri-instagram-line
        li.list-item
          a(href='https://sq-al.facebook.com/hermanngmeinerTIK/')
            i.ri-facebook-circle-line
      span#copyright-notice.copyright-notice &copy;2022 QUAD4. &Ccedil;do e drejt&euml; e rezervuar.
    div
      h6.title.footer-title Kategori
      ul.footer-list.list
        li.list-item
          a.list-link(href='/rreth-shkolles') Rreth nesh
        li.list-item
          a.list-link(href='/matura') Matura
        li.list-item
          a.list-link(href='/partneret') Partner&euml;t
        li.list-item
          a.list-link(href='/njoftime') T&euml; rejat e fundit
    div
      h6.title.footer-title Shkolla
      ul.footer-list.list
        li.list-item
          a.list-link(href='/kurrikula') Kurrikula
        li.list-item
          a.list-link(href='/mesuesit') Stafi pedagogjik
        li.list-item
          a.list-link(href='/ambientet') Ambientet
        li.list-item
          a.list-link(href='/kontakt') Kontaktoni
