link(rel='stylesheet' type="text/html" href='/index.css')
section#partners-section.section
  main
    #partners-title
      h1 Partner&euml;t tan&euml;
      a(href='#')
        h1
          | Shiko t&euml; gjith&euml; 
          i.fa.fa-long-arrow-right
    .customer-logos.slider
      .slide
        img(src='/adidas.png' loading='lazy' alt='')
      .slide
        img(src='/facebook.png' loading='lazy' alt='')
      .slide
        img(src='/google.png' loading='lazy' alt='')
      .slide
        img(src='/instagram.png' loading='lazy' alt='')
      .slide
        img(src='/nike.png' loading='lazy' alt='')
      .slide
        img(src='/twitter.png' loading='lazy' alt='')
      .slide
        img(src='/uber.png' loading='lazy' alt='')
      .slide
        img(src='/youtube.png' loading='lazy' alt='')
