#search-form-container.search-form-container.container
  .form-container-inner
    form.form(action='')
      input.form-input(type='text' placeholder='What are you looking for?')
      button.btn.form-btn(type='submit')
        i.ri-search-line
    span.form-note Shtypni ESC p&euml;r t&euml; dal&euml;.
  button#form-close-btn.btn.form-close-btn.place-items-center
    i.ri-close-line
