section#who-are-we-section.section
  main
    #who-are-we
      #who-we-are-logo
        img(src='hermannGmeinerLogoTransparent.png' alt='logo')
      #who-we-are-paragraph
        h2 Kush jemi
        p
          | Shkolla TIK &ldquo;HERMANN GMEINER&rdquo;, &euml;sht&euml; nj&euml; nga shkollat m&euml; t&euml; reja profesionale n&euml; vend. Ajo mb&euml;shtetet n&euml; modelin dhe profilin e shkoll&euml;s austriake, n&euml; p&euml;rgatitjen e programuesve n&euml; informatik&euml;, prandaj profili i shkollimit &euml;sht&euml; pretendues dhe i p&euml;rshtatsh&euml;m p&euml;r nx&euml;n&euml;sit q&euml; kan&euml; p&euml;rfunduar me rezultate t&euml; mira dhe shum&euml; t&euml; mira shkollat 9 vje&ccedil;are.
        a(href='/rreth-shkolles')
          p#who-we-are-link Vazhdo t&euml; lexosh
