section#learn-more-section.section
  main
    #learn-more-title
      h1 Zbuloni m&euml; shum&euml;
    #learn-more-image-holder
      #learn-more-image1.learn-more-image-article(onmouseover='sizeIconUp(1)' onmouseout='sizeIconDown(1)' name='1')
        .learn-more-info
          i#icon1.fa.fa-trophy.fa-2x.learn-more-icon
          h3 Matura
          p Maturantet me te mire aktualisht ne shkolle. Keta po e bejne kete faqe.
      #learn-more-image2.learn-more-image-article(onmouseover='sizeIconUp(2)' onmouseout='sizeIconDown(2)' name='2')
        .learn-more-info
          i#icon2.fa.fa-user-group.fa-2x.learn-more-icon
          h3 Stafi
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, neque.
      #learn-more-image3.learn-more-image-article(onmouseover='sizeIconUp(3)' onmouseout='sizeIconDown(3)' name='3')
        .learn-more-info
          i#icon3.fa.fa-school.fa-2x.learn-more-icon
          h3 Ambientet
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, neque.
