extends base

block content
    link(rel="stylesheet", href="afp.css")
    section#title-section.section
        div
            h1#title-heading Nj&euml;sia e zhvillimit
    section#info-afp-section.section
        main
            #qellimi-container.info-part-afp-container
                #image-container1.image-container
                .main-info-container
                    h1.headerAfp Q&euml;llimi i nj&euml;sis&euml; s&euml; zhvillimit t&euml; AFP-s&euml;
                    p
                    | Nj&euml;sia e zhvillimit, e cila ngrihet e funksionon pran&euml; &ccedil;do institucioni ofrues i AFP &euml;sht&euml; nj&euml; struktur&euml; e brendshme e cila angazhohet me hartimin, zbatimin e mbik&euml;qyrjen e veprimtarive dhe projekteve zhvillimore t&euml; institucionit, n&euml; mb&euml;shtetje t&euml; ngritjes s&euml; kapaciteteve t&euml; brendshme dhe rritjes s&euml; cil&euml;sis&euml;, me q&euml;llimin p&euml;rfundimtar p&euml;rmbushjen e misionit t&euml; institucionit ofrues n&euml; baz&euml; t&euml; parimeve t&euml; AFP dhe planit zhvillimor.
            #synimet-container.info-part-afp-container
                .main-info-container
                    h1.headerAfp Synimet
                    p
                    | Mb&euml;shtetjen e funksionimit t&euml; ofruese t&euml; AFP si institucione q&euml; g&euml;zojn&euml; autonomi, bashk&euml;punojn&euml; me aktor&euml;t n&euml; sistem dhe p&euml;rshtasin proceset e instrumentet e brendshme n&euml; funksion t&euml; p&euml;rmbushjes s&euml; misionit e objektivave dhe rritjes s&euml; cil&euml;sis&euml;.
                    ol(type='a')
                        li
                        | Rikonceptimi i imazhit dhe rolit t&euml; AFP si i orientuar nga k&euml;rkesa e tregut t&euml; pun&euml;s dhe zhvillimet e fundit n&euml; sektor&euml;t ekonomik&euml;, shkenc&euml; e teknologji;
                        li
                        | Mb&euml;shteja e institucionit n&euml; pun&euml;n p&euml;r p&euml;rgatitja e nx&euml;n&euml;sve/kursant&euml;ve me aft&euml;sit&euml; e nevojshme dhe t&euml; k&euml;rkuara n&euml; tregun e pun&euml;s duke synuar pun&euml;sueshm&euml;rin&euml; e tyre;
                        li
                        | Leht&euml;simin e p&euml;rfshirjes s&euml; gjith&euml; stafit t&euml; ofruesve AFP n&euml; p&euml;rmbushjen e funksioneve par&euml;sore (si aft&euml;simi teorik e praktik p&euml;rmes programeve t&euml; orientuara nga tregu t&euml; ofruara n&euml; m&euml;nyr&euml; efektive, eficiente dhe me n&euml; qend&euml;r nx&euml;n&euml;sin e kursantin) dhe mb&euml;shtet&euml;se (si administrimi, zhvillimi i stafit, marr&euml;dhient me bizneset, hartimi dhe menaxhimi i projekteve zhvillimore, makretingu institucional, orientimi n&euml; karrier&euml;, gjurimi i nx&euml;n&euml;sve/kursant&euml;ve etj.).
                #image-container2.image-container
            #objektivat-container.info-part-afp-container
                #image-container3.image-container
                .main-info-container
                    h1.headerAfp Objektivat
                    p
                    | T&euml; thelloj&euml; njohurit&euml; e nx&euml;n&euml;sve /kursant&euml;ve p&euml;rsa i p&euml;rket rrug&euml;ve t&euml; mundshme t&euml; karrier&euml;s;
                    ol(type='a')
                        li
                        | T&euml; zhvilloj&euml; dhe t&euml; zbatoj&euml; sisteme gjurmimi efektive n&euml; nivel ofruesi;
                        li
                        | T&euml; kryej&euml; vendimmarrje t&euml; informuar n&euml; lidhje me rishikimin e kurrikulave dhe TNNP (T&euml; Nx&euml;nit N&euml;p&euml;rmjet Pun&euml;s) bazuar n&euml; t&euml; dh&euml;nat e gurmimit dhe analiz&euml;n e nevojave p&euml;r aft&euml;si t&euml; stafit t&euml; shkoll&euml;s;
                        li
                        | T&euml; kontribuoj&euml; p&euml;r ta kthyer pun&euml;sueshm&euml;rin&euml; e t&euml; diplomuarve/certifikuarve t&euml; institucionit ofrues t&euml; AFP n&euml; synimin kryesor t&euml; institucionit;
                        li
                        | T&euml; koordinoj&euml; pjes&euml;marrjen dhe kontributin e t&euml; gjitha pal&euml;ve t&euml; interesit (sektorin privat/bizneset/nd&euml;rmarrjet, IOAFP, prind&euml;rit dhe partner&euml;t e tjer&euml; publik&euml;) n&euml; ofrimin e arsimit t&euml; orientuar nga tregu dhe TNNP
                        li
                        | T&euml; koordinoj&euml; dh&euml;nien e asistenc&euml;s s&euml; nevojshme ndaj m&euml;suesve dhe intruktor&euml;ve p&euml;r hartimin e kurrikul&euml;s n&euml; nivel ofruesi.
                        li
                        | N&euml; bashk&euml;punim me drejtuesit dhe stafin e ofruesit t&euml; AFP, t&euml; nd&euml;rtoj&euml; procese dhe instrumente q&euml; siguroj&euml; cil&euml;sin&euml; e ofrimit t&euml; TNNP.
                        li
                        | T&euml; l&euml;ht&euml;soj&euml; procesin e zhvillimit t&euml; vazhduar profesional t&euml; stafit duke nxitur zhvillimin e brendsh&euml;m dhe koordinimin e aktiviteteve t&euml; tjera n&euml; mb&euml;shtetje t&euml; p&euml;rgatitjes profesionale t&euml; stafit.
            #funksionet-container.info-part-afp-container
                .main-info-container
                    h1.headerAfp Funksionet e Nj&euml;sis&euml; s&euml; Zhvillimit
                    p
                    | Nj&euml;sia e Zhvillimit do t&euml; jet&euml; pjes&euml; p&euml;rb&euml;r&euml;se e sistemit t&euml; menaxhimit t&euml; institucionit ofrues t&euml; AFP dhe do t&euml; mbuloj&euml; funksionet m&euml;poshtme:
                    ol(type='a')
                        li
                        | zhvillimin e vazhduar profesional t&euml; m&euml;simdh&euml;n&euml;sve brenda institucionit;
                        li
                        | zhvillimin e kurrikulave n&euml; nivel ofruesi;
                        li
                        | krijimin e lidhjeve nd&euml;rmjet ofruesit dhe partner&euml;ve social&euml; (biznesit);
                        li
                        | orientimin p&euml;r karrier&euml; t&euml; nx&euml;n&euml;sve/ kursant&euml;ve;
                        li
                        | hartimin dhe zbatimin e projekteve zhvillimore;
                        li
                        | zhvillimin e marketingut t&euml; ofruesit;
                        li
                        | mbledhjen e t&euml; dh&euml;nave t&euml; gjurmimit n&euml; nivel ofruesi.
            #image-container4.image-container

    script(src="chart.js") 
    script(src="main.js") 

