extends base


block content 
    link(rel="stylesheet", href="facts.css")
    section#title-section.section
        div
            h1#title-heading Fakte dhe shifra
    // Chart
    section#facts-section.section
        main
            #chart-container
            #table-container
                p
                    | Numri i nx&euml;n&euml;sve n&euml; shkoll&euml;n &quot;Hermann Gmeiner&quot; p&euml;r vitin shkollor 2022-2023 &euml;sht&euml; 312 nx&euml;n&euml;s (34 vajza).
                table(border='1')
                    tr
                        td Viti
                        td Drejtimi
                        td Gjithsej
                        td Vajza
                    tr
                        td(rowspan='2') 2022-2023
                        td Inxhinieri software
                        td 312
                        td 34
                    tr
                        td Totali
                        td 312
                        td 34
                ul
                    li Nota mesatare p&euml;r nx&euml;n&euml;sit n&euml; regjistrim &euml;sht&euml; 8.4 ose 5k euro n&euml; bank&euml;
                    li Vet&euml;m 4.25% e nx&euml;n&euml;sve  kan&euml;  braktisur shkoll&euml;n.
        
