extends base

block content 
    link(rel="stylesheet", href="inxhinieria.css")
    section.titleheading
        h1#partnerheading Inxhinieria Softwerike
    .profilet
        h1(style='font-size: 2vw;')
        | N&euml; shkoll&euml;n &quot;Hermann Gmeiner&quot;, nx&euml;n&euml;sit studiojn&euml; k&euml;to l&euml;nd&euml; profesionale
        .icons
            .cards
                img(src='coding.png' alt='programim')
                h1 Programim
            .cards
                img(src='cp.png' alt='informatike')
                h1 Informatike Teknike
            .cards
                img(src='db.png' alt='database')
                h1 Database
            .cards
                img(src='network.png' alt='network')
                h1 Rrjeta
    section.info
        img(src='Hexagon.svg' alt='wave background' draggable='false')
        .infoCards.centered
            .textCard.centeredLeft
                h1 Rreth drejtimit
                p
                    | Drejtimi TIK i ndihmon nx&euml;n&euml;sit e shkoll&euml;s p&euml;r t&euml; zhvilluar njohurit&euml; dhe aft&euml;sit&euml; e nevojshme
                    | p&euml;r t&euml;
                    | punuar n&euml; nivele fillestare apo teknike t&euml; mesme n&euml; fush&euml;n e teknologjis&euml; s&euml; informacionit dhe
                    | rrjeteve kompjuterike. 
                    b Trajnimet kryhen mbi
                dl
                    li Krijim i rrjeteve wired dhe wireless
                    li Bazat e t&euml; dh&euml;nave dhe integrimin e tyre n&euml; sisteme
                    li Mbrojtjen e komponent&euml;ve Hardware dhe Software
                    li Gjuh&euml;n e programimit C, C++, C#, JAVA
                    li Krijim i website me HTML, CSS, JavaScript
            .textCard.stacked
                h1 Kursi 2+2 vite
                p
                    | Me p&euml;rfundimin e arsimimit p&euml;r &ldquo;Teknologji Informacioni dhe Komunikimi&rdquo;, niveli i par&euml; (klas&euml;s s&euml;
                    | 11-t&euml;), nx&euml;n&euml;si pajiset me certifikat&euml;n e punonj&euml;sit gjys&euml;m t&euml; kualifikuar, &ldquo;ndihm&euml;s/e&rdquo;. Pas nivelit
                    | t&euml; pare, nx&euml;n&euml;si ka t&euml; t&euml; drejt&euml; t&euml; vazhdoj&euml; arsimimin n&euml; nivelin e tret&euml; t&euml; kualifikimit
                    | profesional dyvje&ccedil;ar (klasa e 13-t&euml;),n&euml; nj&euml; nga profilet m&euml;simore t&euml; k&euml;tij drejtimi, ku fiton
                    | Diplom&euml;n e &ldquo;Matur&euml;s Profesionale&rdquo; dhe titullin&ldquo;Teknik/e, menaxher/e&rdquo;.
            .textCard.stacked
                h1 E ardhmja e profesionit
                p
                    | Teknologjia e informacionit dhe e komunikimit, shpesh e shkurtuar p&euml;r vet&euml;m IT, ose teknik IT &euml;sht&euml;
                    | shprehje q&euml; e hasni shpesh, n&euml; mjedise shkolle, zyrash apo edhe n&euml; familje kur ju prishet kompjuteri
                    | apo interneti. Kudo ku ka nj&euml; telefon dhe nj&euml; kompjuter, nd&euml;rhyn nj&euml; teknik apo profesionist IT q&euml;
                    | sigurohet q&euml; t&euml; gjitha hallkat t&euml; punojn&euml; si&ccedil; duhet. E nd&euml;rsa investimet n&euml; teknologji t&euml; reja
                    | rriten &ccedil;do dit&euml;, edhe n&euml; sektor&euml; q&euml; m&euml; par&euml; b&euml;nin pa IT, k&euml;rkesat p&euml;r teknik&euml; e profesionist&euml; t&euml; TIK
                    | jen&euml; m&euml; t&euml; m&euml;dha sa kurr&euml;.