extends base

block content 
    link(rel="stylesheet", href="kurrikula.css")
    section#title-section
        div
            h1#title-heading  Numri e p&euml;rgjithsh&euml;m t&euml; or&euml;ve p&euml;r l&euml;nd&euml;t m&euml;simore.

    section.kurrikulaTables
        h3 L&euml;nd&euml;t e profilit t&euml; p&euml;rgjithsh&euml;m
        table.styled-table
            thead
                tr
                    th L&euml;nda
                    th X
                    th XI
                    th XII
                    th XIII
                    th Totali
            tbody
                tr
                    td Gjuh&euml; shqipe dhe let&euml;rsi
                    td 2
                    td 1
                    td 2
                    td 2
                    td 7
                tr
                    td Gjuh&euml; e huaj (anglisht)
                    td 4
                    td 3
                    td 3
                    td 2
                    td 12
                tr
                    td Gjuh&euml; e huaj (gjermanisht)
                    td 2
                    td 2
                    td 2
                    td 2
                    td 8
                tr
                    td Mendimi politik
                    td 2
                    td -
                    td -
                    td -
                    td 2
                tr
                    td Histori
                    td 1
                    td 2
                    td 1
                    td -
                    td 3
                tr
                    td Matematik&euml;
                    td 3
                    td 3
                    td 3
                    td 2
                    td 11
                tr
                    td Fizik&euml;
                    td 2
                    td 1
                    td -
                    td -
                    td 3
                tr
                    td Kimi
                    td 1
                    td 2
                    td -
                    td -
                    td 3
                tr
                    td Biologji
                    td -
                    td -
                    td 2
                    td 1
                    td 3
                tr
                    td Fiskultur&euml;
                    td 1
                    td 1
                    td 1
                    td 1
                    td 4
                tr
                    td Formimi i personalitetit dhe k&euml;shillim p&euml;r karrier&euml;
                    td -
                    td -
                    td 2
                    td -
                    td 2
                tr.active-row
                    td Gjeografi
                    td -
                    td 1
                    td 1
                    td 2
                    td 4
        .table2
            h3 L&euml;nd&euml;t e profilit profesional
            table.styled-table
                thead
                    tr
                        th L&euml;nda
                        th X
                        th XI
                        th XII
                        th XIII
                        th Totali
                tbody
                    tr
                        td Informatik&euml; teknike (teori + praktik&euml;)
                        td 2+1
                        td 2+1
                        td -
                        td -
                        td 6
                    tr
                        td Programim dhe inxhinieri Softwaresh (teori + praktik&euml;)
                        td 3+3
                        td 2+3
                        td 3+3
                        td 3+3
                        td 23
                    tr
                        td
                            | Baza t&euml; dh&euml;nash dhe sistemet e informacionit (teori + praktik&euml;)
                        td 2+2
                        td 1+2
                        td 2+2
                        td 1+2
                        td 14
                    tr
                        td Sisteme rrjetesh dhe sisteme t&euml; shp&euml;rndara (teori + praktik&euml;)
                        td 3+1
                        td 2+2
                        td 2+2
                        td 1+2
                        td 15
                    tr
                        td Ekonomi nd&euml;rmarrjeje dhe manaxhim (p&euml;rfshir&euml; ekonomin&euml; dhe t&euml; drejt&euml;n)
                        td 3
                        td 4
                        td 3
                        td 4
                        td 14
                    tr
                        td  Planifikim sistemi dhe zhvillim projektesh
                        td -
                        td 3
                        td 5
                        td 8
                        td 16
                    tr
                        td Praktika e detyrueshme
                        td(colspan='5') 8 jav&euml; t&euml; detyrueshme gjate koh&euml;s q&euml; nuk zhvillohet m&euml;sim
                    tr.active-row
                        td Punimi i diplom&euml;s
                        td
                        td
                        td
                        td P&euml;rgjat&euml; vitit shkollor
                        td
        section.kurrikulaInfo
            h1 INFORMACIONE MBI KURRIKUL&Euml;N
            ul
                br
                li Shkolla zgjat 4 vjet dhe numri i or&euml;ve m&euml;simore p&euml;rb&euml;n parakusht p&euml;r cil&euml;sin&euml; e duhur t&euml; formimit t&euml; specialist&euml;ve t&euml; rinj t&euml; TIK dhe p&euml;r njohje t&euml; kualifikimit n&euml; Austri.
                br
                li P&euml;r t&euml; garantuar cil&euml;si, do t&rsquo;u kushtohet r&euml;nd&euml;si njohurive t&euml; larta n&euml; Matematik&euml; si dhe p&euml;rvet&euml;simit t&euml; njohurive t&euml; gjuh&euml;ve t&euml; huaja.
                br
                li L&euml;nd&euml;t e formimit t&euml; p&euml;rgjithsh&euml;m, orientohen ndaj k&euml;rkesave t&euml; nx&euml;n&euml;sve, p&euml;r p&euml;rgatitje cil&euml;sore p&euml;r Matur&euml;n shtet&euml;rore.
                br
                li P&euml;r zhvillimin e Gjuh&euml;s angleze dhe asaj gjermane (si gjuh&euml; e dyt&euml;) p&euml;rdoren kurrikulat e gjimnazit, tashm&euml; t&euml; konsoliduara dhe t&euml; vler&euml;suara.

