extends base

block content
    link(rel="stylesheet", href="ligje.css")
    link(rel="stylesheet", href="swiper-manipulation.css")
    link(rel="stylesheet", href="swiper-bundle.min.css")
    section.titleheading
        h1#partnerheading Ligje, urdh&euml;ra  dhe udh&euml;zime
    .swiper.mySwiper
        .swiper-wrapper
            .swiper-slide
                .docs.udhezime
                    h1.heading-text UDH&Euml;ZIME
                    .docList
                        ol
                            li M&euml;nyra e organizimit dhe veprimtarin&euml; e ofruesve publike t&euml; arsimit dhe formimit profesional.
                                a(href='per-menyren-e-organizimit-dhe-veprimtarine-e-ofruesve-publike-te-arsimit-dhe-formimit-profesional.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zim q&euml;ndrimi dhe l&euml;vizja n&euml; shkoll&euml; - Ministria Sh&euml;ndet&euml;sis&euml;
                                a(href='Udhezim-Qendrimi-dhe-levizja-ne-shkolle-Ministria-Shendetesise.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zimi i vitit m&euml;simor 2019-2020.
                                a(href='Udhezimi-i-vitit-mesimor-2019-2020.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zimi i sakt&euml; p&euml;r organizimin e m&euml;simit/ Vlersimi i nx&euml;n&euml;sve n&euml; provimet  p&euml;rfundimtare.
                                a(href='Udhezimi-Nr-18date-8.05.2020-i-saktiper-organizimin-e-mesimit-vlersimin-e-nxnesve-provimet-perfundimtare-....2019-2020.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zimi p&euml;r normat e ofrueseve publike t&euml; AFP.
                                a(href='Udhezimi-per-normat-e-ofrueseve-publike-te-AFP_14-Tetor-2019.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zues: M&euml;simi dhe vler&euml;simi online n&euml; AP.
                                a(href='Udhezues-Mesimi-e-vleresimi-online-ne-AP.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zues p&euml;r vler&euml;simin e nx&euml;n&euml;sve gjat&euml; m&euml;simit n&euml; distanc&euml;.
                                a(href='UDHEZUES-PER-VLERESIMIN-E-NXENESVE-GJATE-MESIMIT-NE-DISTANCE-7-MAJ-2020.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Udh&euml;zues p&euml;r kthimin n&euml; shkoll&euml; COVID-19
                                a(href='UDHËZUES-PËR-KTHIMIN-NË-SHKOLLË-COVID-19-ZVAP-TIRANË.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
            .swiper-slide
                .docs.urdhera
                    h1.heading-text URDH&Euml;RA
                    .docList
                        ol
                            li P&euml;r dokumentimin e sh&euml;rbimit arsimor n&euml; kushtet e emergjenc&euml;s s&euml; t&euml; m&euml;suarit n&euml; kushtet e sht&euml;pis&euml;.
                                a(href='urdheri-i-shkollave-i-firmosur-AKPA.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
                            li Paraqitjen n&euml; institucion dhe vijueshm&euml;rin&euml; e rregullt t&euml; pun&euml;s s&euml; m&euml;suesve t&euml; institucioneve arsimore t&euml; zvap, q&euml; zhvillojn&euml; procesin m&euml;simor n&euml; klasat e xii-ta si dhe m&euml;suesve t&euml; tjer&euml; t&euml; aml, q&euml; p&euml;r nevoja t&euml; procesit m&euml;simor njoftohen p&euml;r tu paraqitur n&euml; institucionin arsimor n&euml; afatin kohor 18.05.2020-05.06.2020.
                                a(href='URDHËR-NR.27.05.2020.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
            .swiper-slide
                .docs.ligje
                    h1.heading-text LIGJE
                    .docList
                        ol
                            li Ligje p&euml;r arsimin dhe formimin profesional n&euml; Republik&euml;n e Shqip&euml;ris&euml;.
                                a(href='LIGJE.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
            .swiper-slide
                .docs.te-tjera
                    h1.heading-text T&Euml; TJERA
                    .docList
                        ol
                            li Mbulimi me personel i shkollave t&euml; mesme
                                a(href='Mbulimi-me-personel-i-shkollave-te-mesme.pdf')
                                    span
                                        i.fa.fa-solid.fa-download.fa-sm
        .swiper-pagination
    // Swiper JS
    script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
    // Initialize Swiper
    script(src='swiper-documents.js')
