extends base

block content 
    link(rel="stylesheet", href="matura.css")
    section.dataProvime
        .datat
            .tabelaMeDatat
                h1.heading Rreth Provimeve t&euml; Matur&euml;s Shtet&euml;rore 2022
                .centered
                    .dataCards
                        .matematike.coloredCard
                            a(href='MatematikePO.pdf' target='_blank')
                                .link
                                    h1 MATEMATIK&Euml;
                                    hr
                                    h3 11 Qershor 2021
                                    h5 Programi Orientues
                                    i.fa-solid.fa-angle-down.fa-lg
                        .gjuheShqipe.coloredCard
                            a(href='Gjuhe Shqipe dhe Letersi PO.pdf' target='_blank')
                                .link
                                    h1 GJUH&Euml; SHQIPE
                                    hr
                                    h3 7 Qershor 2021
                                    h5 Programi Orientues
                                    i.fa-solid.fa-angle-down.fa-lg
                        .gjuheHuaj.coloredCard
                            a(href='Gjuhe e Huaj PO.pdf' target='_blank')
                                .link
                                    h1 GJUH&Euml; E HUAJ
                                    hr
                                    h3 3 Qershor 2021
                                    h5 Programi Orientues
                                    i.fa-solid.fa-angle-down.fa-lg
                        .meZgjedhje.coloredCard
                            a(href='Gjuhe e Huaj PO.pdf' target='_blank')
                                .link
                                    h1 ME ZGJEDHJE
                                    hr
                                    h3 7 Qershor 2021
                                    h5 Programi Orientues
                                    i.fa-solid.fa-angle-down.fa-lg

    section.titleheading
        h1#partnerheading Rregullorja e Matur&euml;s Shtet&euml;rore 2022
    section.rregullat
        .wrapper
            .rregullaText
                iframe(src='Rregullore per Maturen Shteterore 2022.pdf')
    //- section#programiOrientues
    //-     h1 PROGRAMET ORIENTUESE PER MATUREN SHTETERORE 2022
    //-     .programeOrientueseContainer
    //-         .squareCard
    //-             a(href='MatematikePO.pdf' target='_blank')
    //-                 .circleCard
    //-                     i.ri-download-line
    //-             h1 MATEMATIK&Euml;
    //-         .squareCard
    //-             a(href='Gjuhe Shqipe dhe Letersi PO.pdf' target='_blank')
    //-                 .circleCard
    //-                     i.ri-download-line
    //-             h1 GJUH&Euml; SHQIPE DHE LETERSI
    //-         .squareCard
    //-             a(href='Gjuhe e Huaj PO.pdf class=' target='_blank')
    //-                 .circleCard
    //-                     i.ri-download-line
    //-             h1 GJUH&Euml; E HUAJ
    //-         .squareCard
    //-             a(href='Gjuhe e Huaj PO.pdf class=' target='_blank')
    //-                 .circleCard
    //-                     i.ri-download-line
    //-             h1 per me u shtu profesionalet.pdf

