extends base

block content 
    link(rel="stylesheet", href="projects.css")
    link(rel="stylesheet", href="jquery-dm-select-show.css")
    link(rel="stylesheet", href="swiper-bundle.min.css")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
    script(src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous") 
    .content-container
        .background-image
    .dropdown-container
        h2.dropdown-header Projektet e zhvilluara gjat&euml; vitit:
        select.dropdown
            option(value='_2022') 2022
            option(value='_2021') 2021
            option(value='_2020') 2020
    section#main-section.main.option_select
        .content.swiper
            .slide-content.swiper2022
                .card-wrapper.swiper-wrapper
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #1
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #2
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #3
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #4
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #5
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #6
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #7
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #8
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
                    .card.card--9.swiper-slide
                        a(href='template.html')
                            img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
                        a.heading-link(href='template.html')
                            h2.card__title Projekti #9
                        p.card__text
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
                            | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
            .swiper-button-next.swiper-navBtn
            .swiper-button-prev.swiper-navBtn
            .swiper-pagination.swiper-pagination1
    //- section._2021.option_select
    //-     .content.swiper
    //-     .slide-content.swiper2021
    //-         .card-wrapper.swiper-wrapper
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #1 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #2 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #3 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #4 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #5 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #6 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #7 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #8 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #9 2021
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-     .swiper-button-next.swiper-navBtn
    //-     .swiper-button-prev.swiper-navBtn
    //-     .swiper-pagination.swiper-pagination2
    //- section._2020.option_select
    //-     .content.swiper
    //-     .slide-content.swiper2020
    //-         .card-wrapper.swiper-wrapper
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #1 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #2 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #3 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #4 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #5 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #6 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #7 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #8 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-         .card.card--9.swiper-slide
    //-             a(href='template.html')
    //-             img.card__img(src='pexels-soumil-kumar-735911.jpg' alt='' draggable='false')
    //-             a.heading-link(href='template.html')
    //-             h2.card__title Projekti #9 2020
    //-             p.card__text
    //-             | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    //-             | Consequatur eaque eveniet, quidem numquam vel et! Laborum, quasi aspernatur sapiente
    //-             | esse, maiores cum quaerat ducimus aliquam dolores velit temporibus totam eligendi?
    //-     .swiper-button-next.swiper-navBtn
    //-     .swiper-button-prev.swiper-navBtn
    //-     .swiper-pagination.swiper-pagination3
    script(src="swiper-template.js") 
    script(src="template-swiper.js") 
    script(src="swiper-script.js") 
    script(src="swiper-bundle.min.js") 
    script(src="main.js") 
    script(src="jquery.slim.min.js") 
    script(src="jquery-dm-select-show.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js") 
